/* Reiniciar el navador para evitar diferenciass de estilos  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
/* Estilos generales del cuerpo de la pagina */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
     background-color: #43465e;
    color: #131834;
    
}
/* estilos para el encabezado con degradado */
.site-header {
    background: linear-gradient( 90deg, #c1071e, #dedede);
    color: white;
    padding: 1rem;
    text-align: center;
}